* {
  box-sizing: border-box;
  margin: 0;
  }

  body {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #4D4D4D;
  }

  .grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /*grid-auto-rows: minmax(100px, auto);*/
  grid-template-areas:
                      "top top top top top top top top top top top top"
                      "hd hd hd hd hd hd hd hd hd hd hd hd"
                      "short short short short short short short . . . . ."
                      "co co co co co co co . . . . ."
                      "ct ct ct ct ct ct ct . . . . ."
                      "l1 l1 l1 l1 l1 l1 l1 l1 l1 l1 l1 l1"
                      "b1 b1 b1 b1 b2 b2 b2 b2 b3 b3 b3 b3"
                      "ft ft ft ft ft ft ft ft ft ft ft ft";
  grid-gap: 0px;
  background-color: #f8f7f7;
  padding-left: 100px;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
}
.grid-container > div {
  /*
  background-color: #f8f7f7;

  border: 1px solid rgba(0, 0, 0, 0.8);

  text-align: center;
  */
  /*
  padding: 10px 10px;
  */
  }

.top {
  /*grid-column: 1 / 4;*/
  grid-area: top;
  grid-auto-rows: minmax(50px, auto);
  padding-top: 10px;
  padding-bottom: 10px;
}

.header {
  /*grid-column: 1 / 4;*/
  grid-area: hd;
  grid-auto-rows: minmax(100px, auto);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.short {
  /*grid-column: 1 / 3;*/
  grid-auto-rows: minmax(100px, auto);
  padding: 10px 10px;
  grid-area: short;
  background-color: #2B57AB;
  color: #ffffff;
  text-align: left;
}

.collapsible {
  grid-area: co;
  cursor: pointer;
  padding: 10px 10px;
  width: 100%;
  border: none;
  outline: none;
  background-color: #2B57AB;
  color: #ffffff;
  text-align: left;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

.content {
  grid-area: ct;
  padding: 10px 10px;
  display: none;
  overflow: hidden;
  background-color: #2B57AB;
  color: #ffffff;
  text-align: left;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

.longread {
  grid-area: l1;
  grid-auto-rows: minmax(50px, auto);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.box1 {
  grid-area: b1;
  grid-auto-rows: minmax(100px, auto);
  max-height: 300px;
  overflow: hidden;
  padding-right: 30px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.box2 {
  grid-area: b2;
  grid-auto-rows: minmax(100px, auto);
  max-height: 300px;
  overflow: hidden;
  padding-right: 30px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.box3 {
  grid-area: b3;
  grid-auto-rows: minmax(100px, auto);
  max-height: 300px;
  overflow: hidden;
  padding-right: 30px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.footer {
  grid-area: ft;
  grid-auto-rows: minmax(100px, auto);
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
font-size: 2em;
font-weight: 400;
margin-bottom: 0;
}

h2 {
  font-size: 1.7em;
  font-weight: 400;
  margin: 0;
}

@media (max-width: 750px) {
  .grid-container  {
    grid-template-areas:
    "top top top top top top top top top top top top"
    "hd hd hd hd hd hd hd hd hd hd hd hd"
    "short short short short short short short short short short short short"
    "co co co co co co co co co co co co"
    "ct ct ct ct ct ct ct ct ct ct ct ct"
    "l1 l1 l1 l1 l1 l1 l1 l1 l1 l1 l1 l1"
    "b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1"
    "b2 b2 b2 b2 b2 b2 b2 b2 b2 b2 b2 b2"
    "b3 b3 b3 b3 b3 b3 b3 b3 b3 b3 b3 b3"
    "ft ft ft ft ft ft ft ft ft ft ft ft";
    padding: 10px;
}
